.Title{
	padding-top: 40px;
	text-align: center;
	font-size: 46px;
	font-family: "Titillium Web", sans-serif;
}
.HistoryText{
	text-align: center;
	font-family: "Titillium Web", sans-serif;
	margin: 0 50%;
	font-size: 36px;
}
.list-group-item{
	float: left;
}
.HistoryListClass{
	font-size: 26px;
	padding-left: 30%;
}
.search-bar{
	margin: 20px;
	text-align: center;
}

.search-bar input {
	width:75%;
}

.video-item img {
	max-width: 64px;
}

.video-detail .details {
	margin-top: 10px;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.list-ground-item:hover{
	background-color: #eee;
}